body {
	margin-top: 50px;
}

tfoot {
	font-weight: bold;
	border-top: 2px solid rgb(221, 221, 221);
}

textarea.form-control {
	resize: none;
	height: 90px;
}

.bold {
	font-weight: bold;
}

.align-right {
	text-align: right;
}


/*
Waiter Order autocomplete UI
*/
.ui-autocomplete{
	background: #FFF;
}

.ui-menu-item:hover{
	background: #ddd;
}
