{{#each food}}
	<div class="col-sm-4">
		<div class="food-item">
			<img
				class="food-item-image"
				src="assets/default_food.png"
			/>
			<div class="food-item-name">
				{{name}}
				<span class="pull-right">
					{{price}} Lt
				</span>
			</div>
		</div>
	</div>
{{/each}}